body {
  font-family: 'Cascadia Mono', monospace;
  margin: 0px;
  background-color: #222222;
  margin: 7.5px;
  color: white;
  text-align: center;
}
button {
  font-family: 'Cascadia Mono', monospace;
  background-color: #d1d1d1;
  border-color: #d1d1d1;
  border: 3px solid #d1d1d1;
  border-radius: 5px;
  color: black
}
#b_besilly {
  width: 100%;
  background-color: #670797;
  color: #ff00ff;
  border-color: #670797
}
#b_besilly:hover {
  width: 100%;
  background-color: #410560;
  color: #dd00dd;
  border-color: #410560
}
#b_femboyprestige {
  width: 100%;
  background-color: background;
  background: linear-gradient(
  #55CDFC
  #F7A8B8
  #FFFFFF
  #F7A8B8
  #55CDFC
  );
  color: black;
  border: 3px solid linear-gradient(
  #55CDFC
  #F7A8B8
  #FFFFFF
  #F7A8B8
  #55CDFC
  );
}
#b_femboyprestige:hover {
  width: 100%;
  background-color: background;
  background: linear-gradient(
  #3b96ba
  #b27985
  #bababa
  #b27985
  #3b96ba
  );
  color: black;
  border: 3px solid linear-gradient(
  #3b96ba
  #b27985
  #bababa
  #b27985
  #3b96ba
  );
}
td {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}