body {
  font-family: 'Cascadia Mono', monospace;
  margin: 0px;
  background-color: #222222;
  margin: 7.5px;
  color: white;
  text-align: center;
}
button {
  font-family: 'Cascadia Mono', monospace;
  background-color: #d1d1d1;
  border-color: #d1d1d1;
  border: 3px solid #d1d1d1;
  border-radius: 5px;
  color: black
}
#b_besilly {
  width: 100%;
  background-color: #670797;
  color: #ff00ff;
  border-color: #670797
}
#b_besilly:hover {
  width: 100%;
  background-color: #410560;
  color: #dd00dd;
  border-color: #410560
}
#b_femboyprestige {
  width: 100%;
  background: linear-gradient(102deg,
  #55CDFC 20%,
  #F7A8B8 20% 40%,
  #FFFFFF 40% 60%,
  #F7A8B8 60% 80%,
  #55CDFC 80% 100%
  );
  color: black;
  border-color: white
}
#b_femboyprestige:hover {
  width: 100%;
  background: linear-gradient(102deg,
  #3b96ba 20%,
  #b27985 20% 40%,
  #bababa 40% 60%,
  #b27985 60% 80%,
  #3b96ba 80% 100%
  );
  color: black;
  border-color:white
}
td {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}