body {
  font-family: 'Cascadia Mono', monospace;
  margin: 0px;
  background-color: #111111;
  margin: 7.5px;
  color: white;
  text-align: center;
}
progress {
  border-radius: 7px; 
  width: 40%;
  height: 16px;
  appearance: none;
}
progress::-webkit-progress-bar {
  background-color: #333333;
  border-radius: 3px;
}
/* progress::-webkit-progress-value {
  background-color: #ffffff;
  border-radius: 3px;
} */