body {
  font-family: 'Cascadia Mono', monospace;
  margin: 0px;
  background-color: #111111;
  margin: 7.5px;
  color: white;
  text-align: center;
}
progress {
  border-radius: 7px; 
  width: 40%;
  height: 16px;
  appearance: none;
}
progress::-webkit-progress-bar {
  background-color: #333333;
  border-radius: 3px;
}
/* progress::-webkit-progress-value {
  background-color: #ffffff;
  border-radius: 3px;
} */
[data-color="red"] {
  progress::-webkit-progress-value{background-color: #ff0000;}
}
progress::-webkit-progress-value[data-color="orange"] {
  background-color: #ff8800;
}
progress::-webkit-progress-value[data-color="yellow"] {
  background-color: #ffff00;
}
progress::-webkit-progress-value[data-color="lightgreen"] {
  background-color: #88ff00;
}
progress::-webkit-progress-value[data-color="green"] {
  background-color: #00ff00;
}
progress::-webkit-progress-value[data-color="bluegreen"] {
  background-color: #00ff88;
}
progress::-webkit-progress-value[data-color="cyan"] {
  background-color: #00ffff;
}
progress::-webkit-progress-value[data-color="blue"] {
  background-color: #0088ff;
}
progress::-webkit-progress-value[data-color="darkblue"] {
  background-color: #0000ff;
}
progress::-webkit-progress-value[data-color="purple"] {
  background-color: #8800ff;
}
progress::-webkit-progress-value[data-color="magenta"] {
  background-color: #ff00ff;
}
progress::-webkit-progress-value[data-color="redmagenta"] {
  background-color: #ff0088;
}